# Environment Variables
GEMINI_API_KEY=your_gemini_key_here
OPENROUTER_API_KEY=your_openrouter_key_here

# LLM Configuration
LLM_PROVIDER=gemini # or openrouter
# LLM_MODEL=openai/gpt-oss-20b:free # uncomment to override provider default

# Vector DB Configuration
VECTOR_DB=chroma
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
